html {
  font-family: "PT Serif", serif;
  background-color: #c9b5ab;
  line-height: 1.5;
  font-weight: normal;
}

img {
  width: 100%;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.125rem;
}

nav ol {
  font-family: "PT Sans", sans-serif;
  list-style-type: none;
  font-size: 1.125rem;
}

nav a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: 0.8rem;
}

aside {
  font-weight: bold;
  font-size: 1.125rem;
}

blockquote {
  font-size: 1.125rem;
  font-style: italic;
}

.common {
  list-style-type: lower-greek;
}

.tags {
  list-style-type: circle;
}

footer a {
  color: #8f2440;
  text-decoration: none;
}
