html {
  font-family: PT serif, serif;
  background-color: #c9b5ab;
  line-height: 1.5;
  font-size: 0.8rem;
  font-weight: normal;
  width: 25%;
}

img {
  width: 100%;
}

h1 , h2 {
  font-family: PT sans, sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.125rem;
}

nav ol {
  font-family: PT sans, sans-serif;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.125rem;
  color: #8f2440;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: 0.8rem;
}

aside {
  font-style: bold;
  font-size: 1.125rem;
}

blockquote {
  font-size: 1.125rem;
}

.common {
  list-style-type: lower-greek;
}
.tags {
  list-style-type: circle;
}
